*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(146, 18, 40);
}

.ticket {
    display: none;
}

.ticket.show{
    display: block;
}

.btn{
    border: 1px solid rgb(146, 18, 40);
    color: rgb(146, 18, 40);
}

.btn:hover{
    background-color: rgb(146, 18, 40);
    border: 1px solid rgb(146, 18, 40);
}

.onboard{
    border: 3px solid rgb(146, 18, 40);
    border-radius: 20px;
}

.passenger_name{
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-color: rgb(146, 18, 40);
    border-radius: 15px;
    padding: 0.5rem;
}

